/* -------------------------------------------

Name: 		ITSulu
Version:    1.0
Developer:	Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). email: miller.themes@gmail.com

------------------------------------------- */

/*--------------------------------------------

1. common
    - main
    - typography
    - list
    - flexbox
    - button
    - link
    - form
    - divider
    - decoration
    - background
    - spaces
2. components
    - top panel
    - menu button
    - addition panel
    - banner
    - illustration
    - icons
    - partners
    - services
    - card
    - slider navigation
    - icon box
    - skills
    - reviews
    - about
    - awards
    - breadcrumbs
    - team
    - call to action
    - team member
    - timeline
    - accordion
    - tabs
    - price
    - vacancies
    - careers features
    - blog
    - pagination
    - event
    - project
    - map
    - footer
    - additional pages

--------------------------------------------*/

@import 'variables';
@import 'common';
@import 'components';
