.cta {
    display: block;
    padding: 73px 10vw 118px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #4966f7, #7756fd);
}

.cta__container {
    width: 730px;
    margin-right: auto;
    margin-left: auto;
}

.cta__heading {
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}

.cta-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.cta__input-wrapper {
    display: flex;
    margin-bottom: 12px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.cta__input {
    width: 226px;
    height: 46px;
    margin-bottom: 0px;
    padding: 14px 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 4px 0px 0px 4px;
    background-color: transparent;
    font-family: Eina, sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.cta__button {
    height: 46px;
    padding: 15px 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    transition: background-color 200ms ease;
    font-family: Eina, sans-serif;
    color: #334ac0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
}

.cta__button:hover {
    background-color: #f2f2f2;
}

.cta__disclaimer {
    font-family: Eina, sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
}

.cta__disclamer-link {
    color: #fff;
    text-decoration: none;
}

.cta__disclamer-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .cta {
        padding: 60px 4vw;
    }

    .cta__container {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .cta__heading {
        font-size: 2.6em;
    }

    .cta__input-wrapper {
        display: block;
        width: 100%;
    }

    .cta__input {
        width: 100%;
        margin-bottom: 16px;
        border-style: solid;
        border-radius: 4px;
    }

    .cta__button {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }

    .cta__disclaimer {
        text-align: center;
    }
}

@media screen and (max-width: 479px) {
    .cta__input-wrapper {
        align-self: stretch;
        flex: 1;
    }

    .cta__input {
        width: 100%;
    }
}