@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Eina";
  src: url("/fonts/eina-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina";
  src: url("/fonts/eina-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Markpro";
  src: url("/fonts/markpro-heavy-1.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Markpro, sans-serif;
  font-size: 144px;
  line-height: 137px;
  font-weight: 900;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Markpro, sans-serif;
  color: #2b2a35;
  font-size: 3.2em;
  line-height: 1em;
  font-weight: 900;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Markpro, sans-serif;
  color: #2b2a35;
  font-size: 2.6em;
  line-height: 1.5em;
  font-weight: 900;
  letter-spacing: -0.5px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Eina, sans-serif;
  color: #2b2a35;
  font-size: 27px;
  line-height: 41px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Eina, sans-serif;
  color: #2b2a35;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Eina, sans-serif;
  color: #2b2a35;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
  font-family: Eina, sans-serif;
  color: #545465;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}

a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.w-block {
  display: block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

input.w-button {
  -webkit-appearance: button;
}

.w-embed:before, .w-embed:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-embed:after {
  clear: both;
}

button, html input[type="button"], input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

.w-form {
  margin: 0 0 15px;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

.w-input, .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.w-input:-moz-placeholder, .w-select:-moz-placeholder {
  color: #999;
}

.w-input::-moz-placeholder, .w-select::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.w-input:-ms-input-placeholder, .w-select:-ms-input-placeholder {
  color: #999;
}

.w-input::-webkit-input-placeholder, .w-select::-webkit-input-placeholder {
  color: #999;
}

.w-input:focus, .w-select:focus {
  border-color: #3898ec;
  outline: 0;
}

.w-input[disabled], .w-select[disabled], .w-input[readonly], .w-select[readonly], fieldset[disabled] .w-input, fieldset[disabled] .w-select {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.w-input, textarea.w-select {
  height: auto;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container:before, .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container:after {
  clear: both;
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}

.w-dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}

.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.w-dropdown-toggle {
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}

.w-dropdown-toggle:focus {
  outline: 0;
}

.w-icon-dropdown-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: 20px;
  width: 1em;
  height: 1em;
}

.w-dropdown-list {
  position: absolute;
  background: transparent;
  display: none;
  min-width: 100%;
}

.w-dropdown-list.w--open {
  display: block;
}

.w-dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222222;
}

.w-dropdown-link.w--current {
  color: #0082f3;
}

.w-dropdown-link:focus {
  outline: 0;
}

.w-icon-dropdown-toggle:before {
  content: "\e603";
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}

.w-nav:before, .w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-nav:after {
  clear: both;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.w-nav-link.w--current {
  color: #0082f3;
}

.w-nav-menu {
  position: relative;
  float: right;
}

[data-nav-menu-open] {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #c8c8c8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}

.w--nav-link-open {
  display: block;
  position: relative;
}

.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

.w-nav-overlay [data-nav-menu-open] {
  top: 0;
}

.w-nav[data-animation="over-left"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-left"] .w-nav-overlay, .w-nav[data-animation="over-left"] [data-nav-menu-open] {
  right: auto;
  z-index: 1;
  top: 0;
}

.w-nav[data-animation="over-right"] .w-nav-overlay {
  width: auto;
}

.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
  left: auto;
  z-index: 1;
  top: 0;
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  user-select: none;
}

.w-nav-button:focus {
  outline: 0;
}

.w-nav-button.w--open {
  background-color: #c8c8c8;
  color: white;
}

.w--nav-dropdown-open {
  display: block;
}

.w--nav-dropdown-toggle-open {
  display: block;
}

.w--nav-dropdown-list-open {
  position: static;
}

@media screen and (max-width: 991px) {
  .w-nav-menu {
    display: none !important;
  }
  .w-nav-button {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .w-nav-menu {
    display: none !important;
  }
  .w-nav-button {
    display: block;
  }
  .w-nav-brand {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .w-nav-menu {
    display: none !important;
  }
  .w-nav-button {
    display: block;
  }
}