.about__team {
    max-width: 100em;
}

.about__overlay-teammember {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: linear-gradient(180deg, rgba(53, 59, 81, 0) 80%, rgba(53, 59, 81, 0.55) 88%, rgba(53, 59, 81, 0.95));
    opacity: 0;
    transition: 0.2s ease-in;
}

.about__wrapper-teammember {
    position: relative;
}

.about__infowrapper-teammember {
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 1;
    opacity: 0;
    transition: 0.2s ease-in;
}

.about__wrapper-teammember:hover .about__infowrapper-teammember, .about__wrapper-teammember:hover .about__overlay-teammember {
    opacity: 1;
}

.about__name-teammember {
    margin-bottom: 0px;
    color: #fff;
}

.about__role-teammember {
    font-family: Eina, sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.about__socialwrapper-teammember {
    margin-top: 0px;
}

.about__sociallink-teammember {
    margin-right: 15px;
}

.about__smicon-teammember {
    color: #f2f2f2;
}

.about__smicon-teammember:hover {
    color: #fff;
}

.about__photos-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.about__photo-teammember {
    width: 100%;
}

.about__2photos-wrapper {
    display: grid;
    margin-top: 15px;
    grid-auto-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#w-node-_32e10129-2707-fa69-8e71-2a2e29fe89b8-29fe89b6 {
    grid-area: Area;
}

#w-node-_32e10129-2707-fa69-8e71-2a2e29fe89ba-29fe89b6 {
    grid-area: Area-2;
}

#w-node-_32e10129-2707-fa69-8e71-2a2e29fe89df-29fe89b6 {
    grid-area: Area-3;
}

#w-node-_401260e6-c28f-e776-9c77-4038d7efbbca-946182ad {
    grid-area: Area;
}

#w-node-_401260e6-c28f-e776-9c77-4038d7efbbf1-946182ad {
    grid-area: Area-3;
}

.christian {
    grid-row-start: span 2;
    grid-row-end: span 2;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

.adam {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
}

.vanessa {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

.misha {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
}

#w-node-_47267f2e-9d27-910e-124c-38b1a50a832b-946182ad {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
}

#w-node-_9110bbda-ac3e-35ee-f26f-a632cb821a19-946182ad {
    grid-column-end: 5;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-row-start: 2;
}

#w-node-_7ffa3924-ef28-5891-edd4-6cdadb050750-946182ad {
    grid-column-end: 5;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-row-start: 1;
}

#w-node-_380e8dd7-ac2e-7eed-3c9d-091543cd2630-43cd262e {
    grid-area: Area;
}

#w-node-_380e8dd7-ac2e-7eed-3c9d-091543cd2657-43cd262e {
    grid-area: Area-3;
}

@media screen and (max-width: 991px) {
    .about__name-teammember {
        font-size: 1.3em;
        line-height: 1em;
    }
    .about__role-teammember {
        font-size: 1em;
        line-height: 1.5em;
    }
    #w-node-_52689639-77f9-af09-ed7f-733cbb12f40d-bb12f40b {
        grid-area: Area-4;
    }
    #w-node-_52689639-77f9-af09-ed7f-733cbb12f432-bb12f40b {
        grid-area: Area-3;
    }
    .adam {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    #w-node-_59cee851-4cb2-5cfd-10ec-0524e98edc7c-946182ad {
        grid-row-start: span 1;
        grid-row-end: span 1;
        grid-column-start: span 1;
        grid-column-end: span 1;
    }
    #w-node-c75cc7cf-eb9a-5e8e-21b2-1f1d53187401-531873fe {
        grid-area: Area-4;
    }
    #w-node-c75cc7cf-eb9a-5e8e-21b2-1f1d53187426-531873fe {
        grid-area: Area-3;
    }
}

@media screen and (max-width: 767px) {
    .about__photos-grid {
        grid-template-columns: 1fr 1fr;
    }
    #w-node-_52689639-77f9-af09-ed7f-733cbb12f432-bb12f40b {
        grid-area: Area-3;
    }
    .adam {
        grid-column-start: span 2;
        grid-column-end: span 2;
        grid-row-start: span 1;
        grid-row-end: span 1;
    }
    #w-node-_95111b44-e48a-673f-88c7-bddf22aae615-946182ad {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-row-start: 1;
    }
    #w-node-_19bca3f4-4839-e5c8-7aa7-895ae081cc2a-946182ad {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-row-start: 1;
    }
    #w-node-_9110bbda-ac3e-35ee-f26f-a632cb821a19-946182ad {
        grid-area: Area;
    }
    #w-node-_7ffa3924-ef28-5891-edd4-6cdadb050750-946182ad {
        grid-area: Area-2;
    }
}